<h2>Record your action power turbo session here</h2>

{% if selected_user and reps_done %}
<p>Are you trying to say you did <strong>{{ reps_done }} number</strong> of reps? Please try a positive integer</p>
{% else %}
<p>Choose yourself from the list, input the number of repetitions you have done</p>
{% endif %}

<form action="." method="post">
{% csrf_token %}
<select name="user" id="user">
{% for user in user_list %} 
    <option value="{{ user.id }}">{{ user }}</option>
{% endfor %}
</select>
<input type="text" name="reps">
<input type="submit" value="reps done!" />
</form>


<p>{{ msg }}</p>
