<h2>Record your action power turbo session here</h2>
<form action="." method="post">
{% csrf_token %}
<select name="user" id="user">
{% for user in user_list %} 
    <option value="{{ user.id }}">{{ user }}</option>
{% endfor %}
</select>
<input type="text" name="reps">
<input type="submit" value="reps done!" />
</form>

{% if selected_user and reps_done %} 
<p>You are {{selected_user}} and you did {{reps_done}} pull-ups.</p> 
{% else %} 
<p>Choose the value you want and click <em>Submit</em>.</p> 
{% endif %} 
